@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Trainings.CreateModel

@{
    Layout = "_Create";
}

<body>
@Html.EditControlsFor(model => model.Item.Title)
@Html.EditControlsFor(model => model.Item.Code)
@Html.EditControlsForDropDown(model => model.Item.TrainingCategoryId, Model.TrainingCategories)
@Html.EditControlsFor(model => model.Item.DurationInMinutes)
@Html.EditControlsFor(model => model.Item.Description)
</body>