@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Trainings.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    <dl class="row">
        @Html.DisplayControlsFor(model => model.Item.Title)
        @Html.DisplayControlsFor(model => model.Item.Code)
        @Html.DisplayControlsFor(model => model.Item.TrainingCategoryId)
        @Html.DisplayControlsFor(model => model.Item.DurationInMinutes)
        @Html.DisplayControlsFor(model => model.Item.Description)
    </dl>
</body>