@page
@using TrainingApp.Aids
@using TrainingApp.Data.SportsClub
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Trainings.DetailsModel

@{
    Layout = "_Details";
    const string timetableTrainings = "/SportsClub/TimetableEntries";
    var timetableEntryId = GetMember.Name<TimetableEntryData>(x => x.Id);
}

<body>
    @Html.DisplayControlsFor(model => model.Item.Name)
    @Html.DisplayControlsFor(model => model.Item.Code)
    @Html.DisplayControlsFor(model => model.Item.TrainingCategoryId)
    @Html.DisplayControlsFor(model => model.Item.DurationInMinutes)
    @Html.DisplayControlsFor(model => model.Item.Description)
</body>

@section Details {
    @Html.HypertextLinkFor(string.Empty, new Link("Show next trainings", $"{timetableTrainings}/Index?fixedFilter={timetableEntryId}&fixedValue={Model.Item.Id}"))
}