@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Trainings.EditModel

@{
    Layout = "_Edit";
}

<body>
<input type="hidden" asp-for="@Model.Item.Id" />
@Html.EditControlsFor(model => model.Item.Name)
@Html.EditControlsFor(model => model.Item.Code)
@Html.EditControlsForDropDown(model => model.Item.TrainingCategoryId, Model.TrainingCategories)
@Html.EditControlsFor(model => model.Item.DurationInMinutes)
@Html.EditControlsFor(model => model.Item.Description)
</body>