@page
@using TrainingApp.Aids
@using TrainingApp.Facade.SportsClub
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Trainings.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}

@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create"))
}

<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Title), Model.GetSortString(m => m.Title, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Code), Model.GetSortString(m => m.Code, page)),
                new Link(Html.DisplayNameFor(m => m.Item.TrainingCategoryId), Model.GetSortString(m => m.TrainingCategoryId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.DurationInMinutes), Model.GetSortString(m => m.DurationInMinutes, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Description), Model.GetSortString(m => m.Description, page))
                )
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var selectedRow = "";
                if (item.Id == Model.SelectedId)
                {
                    selectedRow = "alert-success";
                    Model.LoadDetails(item);
                }
                <tr class=@selectedRow>
                    @Html.TableRowWithSelectFor(
                        page,
                        item.Id,
                        Model.SortOrder,
                        Model.SearchString,
                        Model.PageIndex,
                        Model.FixedFilter,
                        Model.FixedValue,
                        Html.DisplayFor(modelItem => item.Title),
                        Html.DisplayFor(modelItem => item.Code),
                        Html.DisplayFor(modelItem => item.TrainingCategoryId),
                        Html.DisplayFor(modelItem => item.DurationInMinutes),
                        Html.DisplayFor(modelItem => item.Description)
                        )
                </tr>
            }
        </tbody>
    </table>

    @if (Model.TimetableTrainings.Count != 0)
    {
        <h3>Next Trainings in the Timetable for Selected Trainings</h3>
        <table class="table">
            <tr>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.TrainingId))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.Id))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.CoachId))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.TrainingTypeId))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.LocationId))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.StartTime))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.EndTime))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.MaxNumberOfParticipants))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.Description))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.TrainingLevel))</th>
            </tr>

            @foreach (var item in Model.TimetableTrainings)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.TrainingId) </td>
                    <td> @Html.DisplayFor(modelItem => item.Id) </td>
                    <td> @Html.DisplayFor(modelItem => item.CoachId) </td>
                    <td> @Html.DisplayFor(modelItem => item.TrainingTypeId) </td>
                    <td> @Html.DisplayFor(modelItem => item.LocationId) </td>
                    <td> @Html.DisplayFor(modelItem => item.StartTime) </td>
                    <td> @Html.DisplayFor(modelItem => item.EndTime) </td>
                    <td> @Html.DisplayFor(modelItem => item.MaxNumberOfParticipants) </td>
                    <td> @Html.DisplayFor(modelItem => item.Description) </td>
                    <td> @Html.DisplayFor(modelItem => item.TrainingLevel) </td>
                </tr>
            }

        </table>
    }
</body>