@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.TimetableEntries.DeleteModel

@{
    Layout = "_Delete";
}
    <body>
        @Html.DisplayControlsFor(model => model.Item.CoachId)
        @Html.DisplayControlsFor(model => model.Item.TrainingId)
        @Html.DisplayControlsFor(model => model.Item.LocationId)
    @Html.DisplayControlsFor(model => model.Item.TrainingTypeId)
        @Html.DisplayControlsFor(model => model.Item.StartTime)
        @Html.DisplayControlsFor(model => model.Item.EndTime)
    @Html.DisplayControlsFor(model => model.Item.Date)
    @Html.DisplayControlsFor(model => model.Item.TrainingLevel)
    @Html.DisplayControlsFor(model => model.Item.MaxNrOfParticipants)
    @Html.DisplayControlsFor(model => model.Item.Description)

    </body>
