@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.TimetableEntries.DeleteModel

@{
    Layout = "_Delete";
}
    <body>
        @Html.DisplayControlsFor(model => model.Item.TrainingId, Model.GetTrainingName(Model.Item.TrainingId))
    @Html.DisplayControlsFor(model => model.Item.Date)
    @Html.DisplayControlsFor(model => model.Item.StartTime)
    @Html.DisplayControlsFor(model => model.Item.EndTime)
    @Html.DisplayControlsFor(model => model.Item.LocationId, Model.GetLocationName(Model.Item.LocationId))
        @Html.DisplayControlsFor(model => model.Item.CoachId, Model.GetCoachName(Model.Item.CoachId))
        @Html.DisplayControlsFor(model => model.Item.TrainingTypeId, Model.GetTrainingTypeName(Model.Item.TrainingTypeId))
        @Html.DisplayControlsFor(model => model.Item.TrainingLevel)
    @Html.DisplayControlsFor(model => model.Item.MaxNumberOfParticipants)
        @Html.DisplayControlsFor(model => model.Item.Description)
    </body>
