@page
@using TrainingApp.Aids
@using TrainingApp.Data.SportsClub
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.TimetableEntries.DetailsModel

@{
    Layout = "_Details";
    const string trainings = "/SportsClub/ParticipantOfTrainings";
    var clientId = GetMember.Name<ParticipantOfTrainingData>(x => x.ClientId);
    //pole üldse kindel, kas peaks nii olema?
}
<body>
    @Html.DisplayControlsFor(model => model.Item.CoachId)
    @Html.DisplayControlsFor(model => model.Item.TrainingId)
    @Html.DisplayControlsFor(model => model.Item.LocationId)
@Html.DisplayControlsFor(model => model.Item.TrainingTypeId)
    @Html.DisplayControlsFor(model => model.Item.StartTime)
    @Html.DisplayControlsFor(model => model.Item.EndTime)
@Html.DisplayControlsFor(model => model.Item.Date)
@Html.DisplayControlsFor(model => model.Item.TrainingLevel)
@Html.DisplayControlsFor(model => model.Item.MaxNrOfParticipants)
@Html.DisplayControlsFor(model => model.Item.Description)
</body>
@section Details {
    @Html.HypertextLinkFor(string.Empty, new Link("Show trainings", $"{trainings}/Index?fixedFilter={clientId}&fixedValue={Model.Item.Id}"))
}