@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.TimetableEntries.EditModel

@{
    Layout = "_Edit";
}

    <body>
        <input type="hidden" asp-for="@Model.Item.Id" />
        @Html.EditControlsFor(model => model.Item.CoachId)
        @Html.EditControlsFor(model => model.Item.TrainingId)
        @Html.EditControlsFor(model => model.Item.TrainingTypeId)
        @Html.EditControlsFor(model => model.Item.LocationId)
        @Html.EditControlsFor(model => model.Item.StartTime)
        @Html.EditControlsFor(model => model.Item.EndTime)
        @Html.EditControlsFor(model => model.Item.NrOfParticipants)
        @Html.EditControlsFor(model => model.Item.MaxNrOfParticipants)
        @Html.EditControlsFor(model => model.Item.TrainingLevel)
        @Html.EditControlsFor(model => model.Item.Description)
    </body>