@page
@model TrainingApp.Soft.Areas.SportsClub.Pages.TimetableEntries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimetableEntryView[0].CoachId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimetableEntryView[0].TrainingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimetableEntryView[0].LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimetableEntryView[0].TrainingTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimetableEntryView[0].TrainingLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimetableEntryView[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimetableEntryView[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimetableEntryView[0].MaxNrOfParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimetableEntryView[0].NrOfParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimetableEntryView[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TimetableEntryView) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoachId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNrOfParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrOfParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
