@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.ParticipantsOfTraining.DetailsModel

@{
    Layout = "_Details";
}
    <body>
        @Html.DisplayControlsFor(model => model.Item.Id)
        @Html.DisplayControlsFor(model => model.Item.ClientId)
        @Html.DisplayControlsFor(model => model.Item.TimetableEntryId)
        @Html.DisplayControlsFor(model => model.Item.CoachId)
        @Html.DisplayControlsFor(model => model.Item.RegistrationTime)
    </body>
@section Details {
}