@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.ParticipantOfTrainings.CreateModel

@{
    Layout = "_Create";
}

    <body>
        @Html.EditControlsFor(model => model.Item.Id)
        @Html.EditControlsFor(model => model.Item.Name)
        @Html.EditControlsForDropDown(model => model.Item.ClientId, Model.Clients)
        @Html.EditControlsForDropDown(model => model.Item.TimetableEntryId, Model.TimetableEntries)
        @Html.EditControlsFor(model => model.Item.RegistrationTime)
    </body>