@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Clients.DeleteModel

@{
    Layout = "_Delete";
}

<body>
<dl class="row">
    @Html.DisplayControlsFor(Model => Model.Item.FirstName)
    @Html.DisplayControlsFor(Model => Model.Item.LastName)
    @Html.DisplayControlsFor(Model => Model.Item.IdCode)
    @Html.DisplayControlsFor(Model => Model.Item.Email)
    @Html.DisplayControlsFor(Model => Model.Item.DateOfJoining)
</dl>
</body>