@page
@using TrainingApp.Aids
@using TrainingApp.Data.SportsClub
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Clients.DetailsModel

@{
    Layout = "_Details";
    const string trainings = "/SportsClub/ParticipantsOfTraining";
    var clientId = GetMember.Name<ParticipantOfTrainingData>(x => x.ClientId);
}

<body>
@Html.DisplayControlsFor(Model => Model.Item.FirstName)
@Html.DisplayControlsFor(Model => Model.Item.LastName)
@Html.DisplayControlsFor(Model => Model.Item.IdCode)
@Html.DisplayControlsFor(Model => Model.Item.Email)
@Html.DisplayControlsFor(Model => Model.Item.DateOfJoining)
</body>

@section Details {
    @Html.HypertextLinkFor(string.Empty, new Link("Show trainings", $"{trainings}/Index?fixedFilter={clientId}&fixedValue={Model.Item.Id}"))
}