@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Clients.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="@Model.Item.Id" />
    @Html.EditControlsFor(model => model.Item.Name)
@Html.EditControlsFor(model => model.Item.IdCode)
    @Html.EditControlsFor(model => model.Item.Email)
    @Html.EditControlsFor(model => model.Item.DateOfJoining)
</body>