@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Clients.EditModel

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="@Model.Item.Id" />
    @Html.EditControlsFor(Model => Model.Item.FirstName)
    @Html.EditControlsFor(Model => Model.Item.LastName)
    @Html.EditControlsFor(Model => Model.Item.IdCode)
    @Html.EditControlsFor(Model => Model.Item.Email)
    @Html.EditControlsFor(Model => Model.Item.DateOfJoining)
</body>