    
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.PageTitle;
    var itemId = Model.ItemId;
}
    <p>
        <h1>@ViewData["Title"]</h1>

    </p>

<div>
    <h4>Detailid</h4>
    <hr />
    <dl class="row">
        @RenderBody()
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@itemId">Muuda</a> |
    <a asp-page="./Index"
       asp-route-fixedFilter="@Model.FixedFilter"
       asp-route-fixedValue="@Model.FixedValue">Tagasi nimekirja</a>
    @RenderSection("Details")
</div>