@page
@model TrainingApp.Soft.Areas.Sport.Pages.Trainings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingView[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingView[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingView[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingView[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingView[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingView[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingView[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingView[0].Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TrainingView) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
