@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Coaches.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(model => model.Item.Id)
    @Html.EditControlsFor(model => model.Item.FirstName)
    @Html.EditControlsFor(model => model.Item.LastName)
    @Html.EditControlsFor(model => model.Item.Age)
    @Html.EditControlsFor(model => model.Item.Email)
    @Html.EditControlsFor(model => model.Item.CoachCertificateNumber)
    @Html.EditControlsFor(model => model.Item.HireDate)
</body>

