@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Coaches.DeleteModel

@{
    Layout = "_Delete";
}

<body>
    <dl class="row">
        @Html.DisplayControlsFor(model => model.Item.FirstName)
        @Html.DisplayControlsFor(model => model.Item.LastName)
        @Html.DisplayControlsFor(model => model.Item.Age)
        @Html.DisplayControlsFor(model => model.Item.Email)
        @Html.DisplayControlsFor(model => model.Item.CoachCertificateNumber)
        @Html.DisplayControlsFor(model => model.Item.HireDate)
        @Html.DisplayControlsFor(model => model.Item.Description)

    </dl>
</body>