@page
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Coaches.EditModel

@{
    Layout = "_Edit";
}

    <body>
        <input type="hidden" asp-for="@Model.Item.Id" />
    @Html.EditControlsFor(model => model.Item.Name)
        @Html.EditControlsFor(model => model.Item.Age)
        @Html.EditControlsFor(model => model.Item.Email)
        @Html.EditControlsFor(model => model.Item.CoachCertificateNumber)
        @Html.EditControlsFor(model => model.Item.HireDate)
        @Html.EditControlsFor(model => model.Item.Description)

    </body>