@page
@using TrainingApp.Aids
@using TrainingApp.Facade.SportsClub
@using TrainingApp.Pages.Extensions
@model TrainingApp.Soft.Areas.SportsClub.Pages.Coaches.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}

@section Create {
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.createNewLinkTitle, $"{page}/Create"))
}

<body>
    <table class="table">
        <thead>
            @Html.TableHeaderFor(
                new Link(Html.DisplayNameFor(m => m.Item.Name), Model.GetSortString(m => m.Name, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Age), Model.GetSortString(m => m.Age, page)),
                new Link(Html.DisplayNameFor(m => m.Item.CoachCertificateNumber), Model.GetSortString(m => m.CoachCertificateNumber, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Email), Model.GetSortString(m => m.Email, page)),
                new Link(Html.DisplayNameFor(m => m.Item.HireDate), Model.GetSortString(m => m.HireDate, page))
                )
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var selectedRow = "";
                if (item.Id == Model.SelectedId)
                {
                    selectedRow = "alert-success";
                    Model.LoadDetails(item);
                }
                <tr class=@selectedRow>
                    @Html.TableRowWithSelectFor(
                        page,
                        item.Id,
                        Model.SortOrder,
                        Model.SearchString,
                        Model.PageIndex,
                        Model.FixedFilter,
                        Model.FixedValue,
                        Html.DisplayFor(modelItem => item.Name),
                        Html.DisplayFor(modelItem => item.Age),
                        Html.DisplayFor(modelItem => item.CoachCertificateNumber),
                        Html.DisplayFor(modelItem => item.Email),
                        Html.DisplayFor(modelItem => item.HireDate)
                        )
                </tr>
            }
        </tbody>
    </table>

    @if (Model.TimetableEntries.Count != 0)
    {
        <h3>Treeneri järgmised treeningud </h3>
        <table class="table">
            <tr>
                
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.TrainingId))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.Date))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.StartTime))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.EndTime))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.LocationId))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.TrainingTypeId))</th>
                <th>@(GetMember.DisplayName<TimetableEntryView>(x => x.TrainingLevel))</th>

            </tr>

            @foreach (var item in Model.TimetableEntries)
            {
                <tr>
                    <td> @Html.Raw(Model.GetTrainingName(item.TrainingId))
                    <td> @Html.DisplayFor(modelItem => item.Date) </td>
                    <td> @Html.DisplayFor(modelItem => item.StartTime) </td>
                    <td> @Html.DisplayFor(modelItem => item.EndTime) </td>
                    <td> @Html.Raw(Model.GetLocationName(item.LocationId))
                    <td> @Html.Raw(Model.GetTrainingTypeName(item.TrainingTypeId))
                    <td> @Html.DisplayFor(modelItem => item.TrainingLevel) </td>
                </tr>
            }

        </table>
    }
</body>